{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Well Done !!</h3>
   <hr>
    <div class="mb-3">
       <h2>Go to your email and click the email that has been sent to you by E-Cart Shoping.....</h2>
       <div>
        <iframe src="https://giphy.com/embed/aWocjS5OhBZa3l24jZ" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="{% url 'home' %}" class="btn btn-danger mt-3 btn-lg">Home</a></p>
       </div>
  </div>
 </div>
</div>
{% endblock main-content %}