{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset_done{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   
   <hr>
    <div class="mb-3">
       <h2 class='text text-danger'>congratulations !! Your Password Successfully Reset</h2>
       <div>
         <iframe src="https://giphy.com/embed/PijzuUzUhm7hcWinGn" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="{% url 'login' %}" class='btn btn-danger m-3'>Login</a></p>
       </div>
  </div>
 </div>
</div>
{% endblock main-content %}