{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome!</h3>
 <div class="col-sm-2 border-end">
    <ul class="list-unstyled">
     <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
    </ul>
   </div>
<div class="col-sm-6 offset-sm-2">
 <h1 class="text text-primary">Successfully Password Change</h1>
    <div class="mt-3">
        <iframe src="https://giphy.com/embed/fxsqOYnIMEefC" width="480" height="217" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p>
    </div>
 </div>
</div>
</div>
{% endblock main-content %}